<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Device Layout</title>
    <link rel="stylesheet" href="assets/style.css" />
</head>
<body>
    <div class="header-wrapper">
        <h1>Layout</h1>
        <ol class="description">
            <li>Drag a pin from one to another to connect.</li>
            <li>Click on a connected pin to disconnect.</li>
        </ol>
        <button class="save-button">Save</button>
        <button class="reset-button">Reset</button>
    </div>
    <div class="desk-wrapper"></div>
    <script src="assets/jquery.js"></script>
    <script src="assets/gungnir.js"></script>
    <script src="assets/index.js"></script>
</body>
</html>
